/* HTML Elements */

html {}
body { margin: 0px; padding: 0px; }

/* Layout Elements */

#wrapper {}
#header {}
#main {}
#footer {}

/* Validation Elements */

.field-validation-error    { color: #ff0000; }
.field-validation-valid    { display: none; }
.input-validation-error    { border: 1px solid #ff0000; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: #ff0000; }
.validation-summary-valid  { display: none; }
